$background-color: white;
$title-color: black;
$title-color-hover: lightgray;
$text-color: black;
$primary-button-color: #003366;
$primary-button-hover-color: #0055cc;

// Buttons 
$secondary-button-color: #007bff;
$secondary-button-hover-color: #1888ff;