.page.page-backoffice-vehicle-damage {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;

  .container {
      margin-top: 100px;
      background-color: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;

      h1 {
          text-align: left;
          margin-bottom: 5px;
          font-size: 24px;
          color: #333;
      }

      .vehicle{
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }

      form {
          display: flex;
          flex-direction: column;
      }

      .form-group {
          margin-bottom: 15px;

          label {
              font-weight: bold;
              margin-bottom: 5px;
              display: block;
              color: #555;
          }

          input,
          textarea {
              width: 100%;
              padding: 10px;
              font-size: 16px;
              border: 1px solid #ccc;
              border-radius: 4px;
          }

          textarea {
              resize: vertical;
              min-height: 80px;
          }
      }

      .decline-button{
        margin-left: 5px;
        background-color: #a50b0b;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 8px 14px;

        &:hover {
            background-color: #880c0c;
        }
    }

    .approve-button {
        margin-top: 3px;
        margin-left: 5px;
        background-color: #0ba12c;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 8px 14px;

        &:hover {
            background-color: #0c8025;
        }
    }

      @media (max-width: 768px) {
          padding: 20px;

          h1 {
              font-size: 20px;
          }

          .form-group input,
          .form-group textarea {
              font-size: 14px;
          }

          .submit-btn {
              font-size: 14px;
              padding: 8px;
          }
      }
  }
}
