.page.page-rent-screen {
    position: relative;
    background-color: #d6d1c7;
    padding-top: 100px;
    padding-bottom: 100px;

    .rent-screen-content {
        background-color: white;
        padding: 20px 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .vehicle-select {
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
          
            select {
                
            border-radius: 10px;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              position: relative;
              z-index: 1;
              text-indent: 50px; /* Ensure text doesn't overlap with the pseudo-element */
              padding-left: 20px;
              padding-right: 20px;
              box-sizing: content-box; /* Let width be based only on content */
              min-width: calc(100% + 20px); /* Adds 50px for the ::before pseudo-element */
            }
          
            &::before {
              content: "Type: ";
              position: absolute;
              left: 20px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 1rem;
              color: #333;
              font-weight: bold;
              z-index: 2;
              pointer-events: none;
            }
          }
          
        

        .cards-container {
            a {
                text-decoration: none;
                .card {
                    margin-bottom: 20px;
                    border-radius: 20px;
                    overflow: hidden;

                    .card-img-top {
                        background-color: gray;
                        height: 200px;
                    }

                    .card-body {

                        .card-title {
                            margin-bottom: 5px;
                        }

                        .card-description {
                            margin-bottom: 10px;
                        }

                        .tags {
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            gap: 3px;
                            padding-bottom: 10px;

                            .tag {
                                font-size: 13px;
                                white-space: nowrap;
                                background-color: #dadada;
                                border-radius: 50px;
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }

                        .price {
                            font-size: 25px;
                            font-weight: bold;

                            span {
                                font-size: 15px;
                                font-weight: 400;
                            }
                        }
                    } 
                }
            }
        }
    }
}